*{
    padding: 10px;
    margin: 2;
    box-sizing: border-box;
}

.App{
    
    color: blue;
}

.plus{
    background-color: black;
    color: bisque;
}

.minus{
    background-color: black;
    color: rgb(255, 255, 255);
}

.reset{
    background-color: rgb(240, 11, 11);
    color: beige;
}

.max{
    background-color: rgb(10, 243, 10);
    color: rgb(218, 215, 212);
}

.five{
    background-color: rgb(10, 138, 243);
    color: rgb(218, 215, 212);
}



